*

{
    font-family: "Times New Roman", "Times", "serif";
    border:0%;
    margin:0%;
    padding:0%;
}

body
{



}

html
{
   background-image: url("background.jpeg");
}

header
{
	
    height: 20%; 
    background-image : url("companylogoBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #ffffff;
    font-style: bold;
     font-size: 200%;
}

#video
{
    width:100%;
    height: all;
    top: 0;
    left: 0;
    z-index:-1;
    position: fixed;
}