*

{
    font-family: "Times New Roman", "Times", "serif";
    border:0%;
    margin:0%;
    padding:0%;
}

body
{



}

#video
{
    width:100%;
    height: all;
    top: 0;
    left: 0;
    z-index:-1;
    position: fixed;
}